.container{
    text-align: center;
    margin-top: 20px;
}
table{
    margin: auto;
}
input{
font-size: 21px;
border: 2px solid rgb(173, 143, 173);
border-radius: 20px;
}
button{
    
    font-size: 23px;
    background-color: rgb(238, 196, 238);
    height: 55px;
    width: 55px;
    border-radius: 20px;

}
.calculator{
    display: inline-block;
    border: 3px solid black;
    background-color: rgb(148, 147, 147);
    border-radius: 30px;
    padding: 10px;
}